*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
tbody > tr:nth-child(2n){
    background-color: pink;

}
caption{
    padding: 20px;
}

table{
    border-collapse: collapse;
}
   
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
