div{
    background-color: pink;
    width: 100px;
    height: 100px;
    margin: auto;
    
    
}
div:hover{
    background-color: aqua;
    transition:1s;
    transform: rotate(1050deg);
    transform: ;
    
}

.texto{
    width: 300px;
    height: 50px;
    font-size: 2em;
    color: aqua;
}
.texto::placeholder{
    color:red;
}