.container{
    display: grid;
    grid-template-columns:200px 200px 200px 200px;
    gap: 20px 20px;

}
.item{
    background-color: rgb(49, 128, 128);
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.item1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.item8{
    grid-column:2 / 3 ;
    grid-row: 4 / 8 ;
}
.item10{
    grid-column:3/4 ;
    grid-row: 5/ 8 ;
}